sphinx==4.3.1
sphinxcontrib-applehelp==1.0.1
sphinxcontrib-devhelp==1.0.6
sphinxcontrib-htmlhelp==2.0.5
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.7
sphinxcontrib-serializinghtml==1.1.10
sphinx-book-theme==0.3.2
sphinx-autobuild
sphinxext-rediraffe
sphinx-copybutton
